unless minimal
	nav.navbar
		a.nav-item(href='/index.html')
			img(src='/file/index.png' alt='Home')
			span Home
		a.nav-item(href='/boards.html')
			img(src='/file/home.png' alt='Boards')
			span Boards
		a.nav-item(href='/overboard.html')
			img(src='/file/home.png' alt='Overboard')
			span Overboard
		a.nav-item(href='/rules.html')
			img(src='/file/home.png' alt='Rules')
			span Rules
		a.nav-item(href='/bans.html')
			img(src='/file/home.png' alt='Bans')
			span Bans
		a.nav-item(href='/banners.html')
			img(src='/file/home.png' alt='Banners')
			span Banners
		a.nav-item(href='/pages.html')
			img(src='/file/home.png' alt='Pages')
			span Pages
		a.nav-item(href='/account.html')
			img(src='/file/home.png' alt='Account')
			span Account
		if !modview && board
			a.nav-item(href=`/${board._id}/manage/${managePage || 'index.html'}`)
				img(src='/file/home.png' alt='Manage')
				span Manage
		.nav-item.right#settings
			img(src='/file/home.png' alt='Settings')
			span Settings
